@media(max-width:768px) {

    .car-types.orange {
        border-radius: 5px 5px 0px 0px;
        margin-top: 50px;
    }

    .car-types.dark-cyan {
        border-radius: 0px 0px 5px 5px;
    }

}
